<div class="card">
  <h2><%= post.title %></h2>
  <h5>Posted at <%= post.short_date %> by <%= post.user.email %></h5>
  <%= youtube_embed(post.content).html_safe %>
  <p><%= post.description %></p>
</div>