<div class="top-nav">
  <a class="active" href="#home">Funny Movie</a>
  <div class="login-container">
    <% if logged_in? %>
      <span style="padding: 5px 15px">Welcome, <%= current_user.email %></span>
    <% else %>
      <%= form_for :session, url: login_path, method: :post do |f| %>
        <%= f.text_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password", class: "password-input" %>
        <%= f.submit "Login/Register", class: "login-button" %>
      <% end %>
      <% flash.each do |type, msg| %>
        <div class="error-messages">
          <%= msg %>
        </div>
      <% end %>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="left-column"  style="padding: 0 500px">
    <div class="card">
      <div>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fake-img" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fake-img" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>
  </div>
</div>